---
import PostCard from './PostCard.astro'

const POSTS = []
---

<section class="mt-10">
    <h2 class="text-xl font-bold">POSTS</h2>
    <div class="grid grid-cols-1 mt-2 space-y-4">
       {
        POSTS.map(post => (
            <PostCard {...post}/> 
        ))
       }
    </div>
    
</section>