---
import ProjectCard from './ProjectCard.astro'

const PROJECTS = [
    {
        title: "Rocket",
        description: "Una aplicación para la gestión de proyectos y tareas.",
        link: "https://approcket.vercel.app/",
        githubLink: "https://github.com/dgarciacasam/rocket",
        stack: ["React", "Typescript", "Tailwind"],
        icon: "RocketIcon"

        
    },{
        title: "RocketAPI",
        description: "API REST con implementación de tareas Cron y JWT.",
        link: "",
        githubLink: "https://github.com/dgarciacasam/rocketAPI",
        stack: ["Java (Spring Boot)", "MariaDB"],
        icon: "RocketIcon"
    },
    {
        title: "Portafolio",
        description: "Código de mi portafolio web.",
        link: "",
        githubLink: "https://github.com/dgarciacasam/portafolio",
        stack: ["Astro", "Typescript"],
        icon: "PlanetIcon"
    }
]
---


<section class="mt-10">
    <h2 class="text-xl font-bold">PROYECTOS</h2>
    <div class="grid md:grid-cols-2 gap-4 mt-2">
        {
            PROJECTS.map(project => (
                <ProjectCard {...project} />
            ))
        }
    </div>
    
</section>